# dependencies
/node_modules

# build output
/.next/
/out/

# environment variables
.env*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# logs
*.log

# misc
*.pem
*.tgz
*.tsbuildinfo
next-env.d.ts
/coverage
.vercel
.turbo
